[2018-07-20 08:08] cgiovando opened #3 "Migrate code from Ithaca's repo"
I believe #2 does it, but should include the latest updates deployed on http://opencities.ithacaweb.org (from Paolo's fork https://github.com/ppasq/opencities)

[2018-07-20 08:11] cgiovando opened #4 "Transfer opencitiesproject.org domain name to Ithaca"
See thread with DS about process

[2018-07-20 08:12] cgiovando opened #5 "Point www.opencitiesproject.org to new website"
After #4 is done, point DNS to the new Github pages website

[2018-07-20 08:14] cgiovando opened #6 "Add link to old Open Cities website"
Link to old Github Pages hosted website here --> OpenCitiesProject.github.io

Maybe in the about page?

[2018-07-20 08:17] cgiovando opened #7 "Add "Resources" page"
"Resources" page in the menu with content from http://www.opencitiesproject.org/guide/ and link to https://opencitiesafrica.course.tc/catalog/course/open-cities-africa

[2018-07-20 08:37] cgiovando opened #8 "Add news feed from OpenDRI.org"
We should explore how to include a feed of news from each city, pulling articles (syndicated) from OpenDRI.org.

For example on the Kampala page, we could show a live feed of news published on https://opendri.org/open-cities-kampala or with a specific hashtag on their Twitter account.

[2018-07-20 09:03] cgiovando opened #9 "Add zoom control to map of cities"
Right now only double clicking zooms in, but there's no way to zoom back out

[2018-07-20 09:34] cgiovando opened #10 "Homepage design improvements"
@rsoden can you give some ideas on what to add on the the homepage for better presentation /entry point of the Open Cities (Africa) project?

Maybe with a format similar to http://uganda.ithacaweb.org/index.html ?

[2018-07-20 09:40] cgiovando opened #11 "Organize analytics design of each city page"
The three themes are:

1. Progress to Date
2. Data Quality
3. Community Dynamics

Corresponding sections with headers, description and widgets for each theme:

**1. Mapping Progress to Date**
This section provides and overview of mapping activities in the selected city geographic extent. The Before/After widget below allows comparing current density and distribution of map features with snapshots

[2018-07-20 09:42] cgiovando opened #12 "Fix cities not showing on main map"
Kinshasa and Pointe Noire are not showing

As discussed, maybe remove dynamic map for now and use static screenshot?

[2018-07-20 09:45] cgiovando opened #13 "Footer with logos"
On the left, some text similar to OpenDRI.org's footer "An initiative of" with the GFDRR and OpenDRI logos.

In the center "Supported by" with the EU-ACP logo

Anything else @vdeparday ?

[2018-07-20 09:47] cgiovando opened #14 "Add GA tracker"
Provide JS code to add to website

[2018-07-20 17:49] vdeparday commented on #13
We can align to the right the supported by or whatever looks the best ;)
Nothing else. That sounds good.

On Fri, Jul 20, 2018 at 5:45 AM Cristiano Giovando <notifications@github.com>
wrote:

[2018-07-20 17:52] vdeparday commented on #10
@Cristiano Giovando <giovand@gmail.com> we had already provided some
content to Ithaca who did some selections but then we removed for
simplicity but it would be nice to revisit. Do they have that content
somewhere so that we can tweak it and update it ?

On Fri, Jul 20, 2018 at 5:34 AM Cristiano Giovando <notifications@github.com>
wrote:

[2018-07-23 16:03] tyrasd commented on #11
This works now. Just append `/embed` to the respective url to use it in an iframe. For example: `http://osm-analytics.org/#/gaps/bbox:-26.41553,-14.76801,78.35889,26.65571/buildings-vs-ghs/embed/opendri`

[2018-07-23 22:03] cgiovando opened #15 "Embed gap detection widget in city pages"
@ppasq can you try embedding the gap detection tool? Here's an example:

http://osm-analytics.org/#/gaps/bbox:-26.41553,-14.76801,78.35889,26.65571/buildings-vs-ghs/embed/opendri

Please ask @tyrasd if you have questions on how it works.

Thanks!

[2018-07-23 23:55] cgiovando commented on #11
Hey @ppasq - I updated each theme description and marked those widgets that we should be able to include on launch. Can you reflect on the website and organize each city page with the three analytics sections? Thanks!

[2018-07-24 15:44] ppasq commented on #15
Added with PR #16 .

[2018-07-24 15:44] ppasq commented on #13
Added with PR #16 .

[2018-07-24 15:45] ppasq commented on #12
Added a static screenshot.

[2018-07-24 15:46] ppasq commented on #10
The initial home page has been restored.

[2018-07-24 15:46] ppasq commented on #9
Added a static map.

[2018-07-24 15:47] ppasq commented on #7
A resource page has been added.

[2018-07-24 15:50] ppasq commented on #3
Latest code has been migrated with PR #16 .

[2018-07-24 15:54] ppasq opened #17 "OpenCities logo"
Should we keep the logo in the new site?

[2018-07-24 15:57] ppasq commented on #9
Closing this since we moved to a static map. For improvements pls see #12

[2018-07-24 15:57] #9 closed

[2018-07-24 18:34] vdeparday commented on #17
Which one? You mean from the previous website? I don't think so. Just like you have it written now is fine.

[2018-07-24 18:37] vdeparday opened #18 "Can we add implementing partners at the bottom"
Could we add another section in a different color at the bottom below the Initiative of / Funded by with the following logos and hyperlink to websites:

HOT https://www.hotosm.org/
Mobile Web Ghana https://mobilewebghana.org/
Ilab Liberia https://www.ilabliberia.org/
ImmerGIS http://immergis.fr/en/
BEST (couldn't find a website but here is their logo :
Habaka https://habaka.org/
OFSAC: https://www

[2018-07-24 18:40] vdeparday commented on #18
Two more:
University Marien Ngouabi
https://www.umng.cg/

Ucac-Icam
https://www.ucac-icam.com/ucac-icam/nos-campus/pointe-noire/

[2018-07-24 18:41] vdeparday commented on #12
Can we make the city name clickable on the map?

[2018-07-24 18:56] vdeparday opened #19 "Move the Overall Stats Widget to Progress to Date section"
I think it would make more sense to have the overall numbers in the Progress to Date, just above the diagram with before/after.

[2018-07-24 18:57] vdeparday opened #20 "Aggregated number on homepage"
We should add some aggregated indicators for all the cities on the homepage. Let's brainstorm on which one to highlight.

For instance, could we easily aggregate the amount of feature from all the cities?
Then we could have something that is reported by the team, like number of events, and people trained.

[2018-07-25 07:21] ppasq commented on #17
Yes, I meant the one from the previous site. So, I'm closing this.

[2018-07-25 07:21] #17 closed

[2018-07-25 10:24] cgiovando commented on #14
@ppasq here's the GA snippet to add
[code]

[2018-07-25 13:07] cgiovando commented on #13
We should add links to the OpenDRI.org and EU-ACP logos.

@vdeparday what's the website for the latter?

[2018-07-25 13:13] cgiovando opened #21 "Make links to cities more obvious"
The current style does not render links with underlined text, so clicking on city pages from the main list next to the map is not that obvious. @ppasq can we improve that?

Later we should also think how to make the map dynamic with interactive links to city pages from each map marker - but for now the static map is OK :)

cc @nualacowan

[2018-07-25 13:16] cgiovando commented on #19
This is related to #11

[2018-07-25 13:31] cgiovando opened #22 "Changes to About page"
@nualacowan provided some feedback on the [About page](http://opencities.ithacaweb.org/about/) suggesting we make is less text heavy, breaking it up with some graphics.

Here are some images that we should add, which illustrate the Open Cities workflow:

![oca_partnership diagram 2018_en](https://user-images.githubusercontent.com/10201533/43203771-65c3d120-901f-11e8-9faa-bb5df76baea8.jpg)

![oca_p

[2018-07-25 13:37] cgiovando opened #23 "Differentiate city pages from website pages in menu"
In the website menu (top right), elements that link to city pages look the same as the _Home_, _About_, and _Resources_ pages. Maybe we can use a different style or offset it slightly to show the list of cities?

![screen shot 2018-07-25 at 15 35 16](https://user-images.githubusercontent.com/10201533/43204203-938c7cf0-9020-11e8-9919-6c03da1c602a.jpg)

[2018-07-25 20:21] cgiovando opened #24 "Add reporting data from cities' teams"
We discussed the idea of designing a web form where each team can periodically report on activities and information that cannot be extracted from the OSM database - for example, the number of people who attended mapathons.

Would be great to have the output from this form automatically feed statistics and reports on the Open Cities website. Using a simple Google Form may be an [option to output to

[2018-07-25 22:10] cgiovando opened #25 "Attribute completeness analytics"
Following our discussion today, we agreed on reviewing sample data models from some cities to design how we could track completeness of map feature attributes.

For _Percent of Mapped features and Tags_ in theme 1 of #11 this could track and display how many features have complete attributes, showing progress in surveying those specific elements in the field. For example, if a team is mapping scho

[2018-07-27 08:20] cgiovando commented on #5
http://opencitiesproject.com is now pointing to the new website. Still waiting on access to .org

[2018-07-27 09:08] cgiovando opened #27 "Update OSMA API sources"
@tyrasd is updating code and documentation in [osm-analytics-api](https://github.com/GFDRR/osm-analytics-api/pull/30) to use the more generic `api.osm-analytics.org` subdomain.

@ppasq can you check for any code in the OSMA widgets/integrations that may need to be updated to reflect the new API endpoint?

We probably also need to update [osm-analytics-charts](https://github.com/GFDRR/osm-analytics

[2018-07-27 10:11] ppasq commented on #5
Done. It may take a while to propagate.

[2018-07-28 14:18] jessbeutler commented on #25
@cgiovando You can find that draft data model [here](https://docs.google.com/document/d/1FJ86BMOnSKF5R3zQDUcn0bA-wkl2LHCgIPvtGc5ixUQ/edit?usp=sharing).

[2018-07-30 16:32] cgiovando commented on #10
Some more feedback from Grace:

[2018-07-30 16:33] cgiovando commented on #22
Feedback from Grace:

[2018-07-30 16:36] cgiovando commented on #11
Some feedback from Grace on city pages design:

[2018-07-30 16:37] cgiovando commented on #7
From Grace:

[2018-07-30 16:37] cgiovando commented on #23
Also from Grace:

[2018-08-01 13:48] cgiovando commented on #27
@ppasq please list the files that will need to be updated with the new API endpoint once it's working - thanks!

[2018-08-01 14:55] cgiovando opened #28 "Improve branding"
As discussed in the meeting today, we could add more specific Open Cities / OpenDRI branding design. Some ideas:

- display OpenDRI logo towards the top of the page
- use the green map instead of grey fading when homepage loads

The website is already using the OpenDRI font.

[2018-08-01 15:00] gracedoherty opened #29 "Change city names"
After conversation with our city teams, some prefer an alternate name for their locations. Please update the website (cities' pages, menu, Participating Cities section on homepage...) to reflect the following:

The Tanzania team prefers to call their site "Zanzibar City, Tanzania". No Stone Town.

The Seychelles team prefers to call their site “Seychelles.” No Victoria. So in the title on that pag

[2018-08-01 15:51] cgiovando commented on #22
For now ([milestone 1](https://github.com/GFDRR/opencities/milestone/1)), please only add the "[Open Cities Process](https://user-images.githubusercontent.com/10201533/43203806-824b75aa-901f-11e8-97dc-17ba8ed7c077.jpg)" diagram right before `Open Cities Africa will be carried out in the following five stages:`

We'll adjust the rest later - thanks!

[2018-08-01 15:53] cgiovando commented on #12
This will probably be after launch, unless @ppasq has some quick ideas

In the meantime, we would still need to update the map with changes from #29

[2018-08-01 15:54] #3 closed

[2018-08-01 15:54] #4 closed

[2018-08-02 13:57] ppasq commented on #29
Fixed city names. Still need to remove the double Seychelles title on the Seychelles page.
Fixed typo on Pointe-Noire page.

[2018-08-02 13:59] ppasq commented on #22
Added the Open Cities process image. Changed stages to phases. Removed the Prepare stage.

[2018-08-02 14:00] ppasq commented on #14
Fixed.

[2018-08-02 14:00] #14 closed

[2018-08-02 15:12] ppasq commented on #7
Fixed with #34

[2018-08-02 15:12] #7 closed

[2018-08-02 15:18] ppasq commented on #23
Changed to this:
![screen shot 2018-08-02 at 17 16 32](https://user-images.githubusercontent.com/3024454/43593374-e9aa4524-9677-11e8-92a9-2c21d319c6c9.png)

[2018-08-02 15:20] ppasq commented on #6
Fixed with #34

[2018-08-02 15:20] #6 closed

[2018-08-02 15:23] ppasq commented on #27
It probably needs to updated in [env.js](https://github.com/GFDRR/opencities/blob/master/js/env.js) only.

[2018-08-03 10:24] ppasq opened #38 "Use MapBox Static Map in city page"
Move from the MapBox viewer to a static map since no pan and zoom is needed.

[2018-08-06 15:14] vdeparday commented on #13
https://europa.eu/capacity4dev/drr-acp/minisite/acp-eu-cooperation-disaster-risk-reduction/acp-eu-building-disaster-resilience-sub-saharan-

[2018-08-06 15:17] vdeparday commented on #23
Looks good

[2018-08-06 15:17] #23 closed

[2018-08-06 15:43] gracedoherty commented on #10
Remove the section "Benefits for Selected Cities."

[2018-08-06 15:44] gracedoherty commented on #10
Change the Contact Us email to: opencitiesafrica@gmail.com. Change the Contact button link to the same.

[2018-08-06 15:44] gracedoherty commented on #10
At the bottom of the page, link the OpenDRI logo to OpenDRI.org.

[2018-08-06 15:59] gracedoherty commented on #10
The section "A Collaborative Approach" should link to the "Following an application process..." paragraph of the About page.

[2018-08-06 16:03] gracedoherty commented on #10
Change to present tense throughout the Overview section and other minor edits:

- [ ] Open Cities Africa **is** carried out in **11 cities** in Sub-Saharan Africa to engage local government, civil society, and the private sector to develop the information infrastructures necessary to meet 21st century urban resilience challenges. The project **is** implemented through a unique partnership

- [ ] F

[2018-08-06 16:05] gracedoherty commented on #22
Change to present tense throughout the Overview section and other minor edits:

- [ ] Open Cities Africa **is carried** out in **11 cities** in Sub-Saharan Africa to engage local government, civil society, and the private sector to develop the information infrastructures necessary to meet 21st century urban resilience challenges. The project **is implemented** through a unique partnership

- [ ] F

[2018-08-06 16:06] gracedoherty commented on #22
Change "Got to the old Open Cities website version." to: Click here to access the Open Cities Asia site.

The hyperlink will still go to the same site.

[2018-08-06 16:33] gracedoherty commented on #10
**Tagline (underneath Open Cities Africa):**
Open data today to build resilient and sustainable societies tomorrow

**Text that sits over green map:**
Building skills, data, and networks across local technical communities and governments to support relevant and valuable disaster risk management and urban planning in Africa

[2018-08-06 16:34] gracedoherty commented on #22
Keep diagram centered, but reduce it to about 75% the size.

[2018-08-06 16:56] gracedoherty commented on #22
Change the numbered list of phases to the following:

1. **Plan and Assess**
In this first phase, Open Cities teams establish what data already exists and its openness, relevance and value. Project target area and data to collect are finalized. This phase is also when teams identify project partners and stakeholders to ensure that efforts are a participatory process. At the Open Cities Kick Off Me

[2018-08-07 20:49] vdeparday opened #39 "Text and widgets too big in the city page"
Even on my screen it is hard to have an entire widget or an entire text section. It doesn't look very clean. We should make it smaller. It looks good on mine if I unzoom my browser to 70 or 75%

[2018-08-07 20:53] vdeparday opened #40 "Add an export of the data on each city page"
In the previous site, I had created some crafty overpass export which would likely not work but still we are going to have requests for the data often so we should have at least a link to some other export (HOT or other).

Even better, we should export it following the data model of the DIFD challenge so it can be used directly in modelling tools.

[2018-08-08 14:02] cgiovando commented on #39
@vdeparday can you post some screenshot examples and tell your screen specs?

On my 13.3-inch (2560 x 1600) widgets fit on one screen, but not together with the text describing them, so would definitely be good to shrink a bit the graphics.

[2018-08-08 14:04] cgiovando commented on #38
This could also be a photo or other graphics, right @nualacowan?

[2018-08-08 15:25] cgiovando commented on #15
Widget was added - moving to later milestone for improvements to styling mentioned in above comment.

[2018-08-08 16:24] cgiovando opened #41 "Make city names clickable on the map"

[2018-08-08 16:25] cgiovando commented on #12
This should be done - creating #41 to track enhancements to the overview cities map

[2018-08-08 16:25] #12 closed

[2018-08-13 13:07] #27 closed

[2018-08-16 21:07] gracedoherty opened #52 "Give photo credit on homepage"
Each of the 3 photos used on the homepage need to be credited. Could be in small print in a corner of the photo, or in the footer? Wherever looks best.

Crowd with drone: © Mark Iliffe
2 women holding GPS: Daniel Joseph / © American Red Cross
3 women with field papers: Daniel Joseph / © American Red Cross

[2018-08-17 20:07] vdeparday commented on #52
I think for the first one you can have Mark Iliffe / © World Bank as I think technically it is World Bank since he was a World Bank consultant. Could we replace one of the two with a picture from Open Cities Africa directly from the kick-off or from the one coming from the various projects? That will have a better balance of sources this way.

[2018-08-20 06:02] cgiovando commented on #18
Hi @ppasq - see the list of logos and links to partners' websites here: https://github.com/cgiovando/opencities/blob/gh-pages/_includes/footer.html

I wasn't able to add them properly to the footer / bottom area. I'll let you work the design and code ;)

[2018-08-20 06:04] cgiovando commented on #5
Closed with https://github.com/GFDRR/opencities/commit/d4e528e20ba7d8f826be01b649eefcee667d3166

[2018-08-20 06:04] #5 closed

[2018-08-21 03:43] cgiovando opened #53 "Add CREWS and WBG logos to footer"
Add the below together with existing GFDRR and OpenDRI logos in footer

https://www.worldbank.org/

![wbg_horizontal-rgb](https://user-images.githubusercontent.com/10201533/44379128-d5c96d00-a504-11e8-9b1a-6a38a90df501.png)

https://www.crews-initiative.org/en

![crews](https://user-images.githubusercontent.com/10201533/44379160-fee9fd80-a504-11e8-8bc5-40a2419ae5be.png)

[2018-08-30 21:09] vdeparday opened #54 "Top image doesn't show on mobile"

[2018-08-30 21:10] vdeparday opened #55 "Map doesn't display the cities on Mobile"

[2018-09-03 07:48] ppasq commented on #55
Could you please provide some details?
If you mean the map in the home page I can see the city names displayed on iOS.

![img_2553](https://user-images.githubusercontent.com/3024454/44973821-1a6df300-af5e-11e8-9bd2-372c445b5afb.JPG)

[2018-09-03 08:16] vdeparday commented on #55
Checking on my android phone it also works. It was on a participant phone.
The size was off, and the points were not visible.

On Mon, Sep 3, 2018, 9:48 AM Paolo Pasquali <notifications@github.com>
wrote:

[2018-09-10 20:47] gracedoherty opened #56 "Change second tagline on homepage"
Change the line over the green banner that says "Building skills, data..." to this shortened version:

Building skills, data, and networks to support disaster risk management and urban planning in Africa.

[2018-09-18 10:29] #56 closed

[2018-09-18 13:28] #52 closed

[2018-09-18 19:31] gracedoherty opened #65 "Replace homepage images"
Please replace the two images in the Collaborative Approach section of the homepage with:

![pn field collection](https://user-images.githubusercontent.com/42003495/45711400-74bea480-bb57-11e8-9ea9-b83decd94872.jpg)
Credit should be somewhere on the photo (e.g. bottom-right corner) as: © Immergis

and

![monrovia drone controller](https://user-images.githubusercontent.com/42003495/45711488-b64f4f8

[2018-09-21 07:52] #65 closed

[2018-09-26 18:15] pzwsk opened #77 "remove duplicate in about.html"
targeted training, targeted training,

[2018-10-04 12:48] #77 closed

[2018-10-15 13:34] vdeparday commented on #18
@ppasq this one should be easy. Could you look at so that it is implemented as soon as possible ? Ithaca should be added to the list too ;)

[2018-10-16 14:56] #53 closed

[2018-10-16 14:58] ppasq commented on #18
Done. Although some logos have poor quality. Please open another issue if you can provide better logos.

[2018-10-16 14:58] #18 closed

[2018-10-22 14:03] vdeparday commented on #18
It is looking good ! Could we add an item in the menu "Partners" that would slide down to that section ?

Thank you !

[2018-10-22 23:35] gracedoherty commented on #8
Hi @ppasq , can we start this by creating a news section on the homepage? It would go between A Collaborative Approach and Contact Us. The news feed would include any blog post (category/news) that has the "Open Cities" tag.

[2018-10-29 05:59] gracedoherty commented on #8
Actually for now we'll do the specific "Open Cities Africa" tag, here: https://opendri.org/tag/open-cities-africa/

[2018-10-29 06:11] gracedoherty opened #97 "Add Groupe Huit logo to the Implementing Partners section on homepage"
They are the implementing partner for Open Cities Brazzaville.
![logo-groupehuit](https://user-images.githubusercontent.com/42003495/47632296-e0fdd200-db1f-11e8-9229-5863a7f9943a.jpg)

[2018-10-29 16:18] ppasq commented on #8
I'm experimenting with parsing external RSS feeds with Jekyll. That seems to work although it could potentially slow down the website homepage. As soon as I have something ready I'll make a PR.

[2018-10-30 16:07] ppasq commented on #8
I've added a feed parser implemented [with a javascript](https://rss.bloople.net). It was configured to display the latest 6 posts tagged "open-cities-africa" from OpenDRI.org
This solution has some limitations (only feed item title and description are available) and based on an external service.
For future documentation: I've tried [feedjira,](https://github.com/feedjira/feedjira) a Jekyll's plug

[2018-10-30 16:20] vdeparday commented on #8
Thank you Paolo, I think that is a very good start. Could we add an heading
to that section? It would definitely be great to have a picture for each
too.

Thank you

On Tue, Oct 30, 2018, 12:12 PM Paolo Pasquali <notifications@github.com>
wrote:

[2018-10-31 08:29] ppasq commented on #8
No problem for the heading. But the item image is not available in [the feed itself ](https://validator.w3.org/feed/check.cgi?url=feed%3Ahttps%3A%2F%2Fopendri.org%2Ftag%2Fopen-cities-africa%2Ffeed%2F).

[2018-10-31 10:59] ppasq commented on #54
Fixed.

[2018-10-31 10:59] #54 closed

[2018-10-31 11:02] ppasq commented on #41
An interactive map has been added. Now city circles are clickable. Need to find a good solution to make the labels clickable as well.

[2018-10-31 11:03] ppasq commented on #55
Since an interactive map was added could you please check if this issue can be closed?

[2018-10-31 11:06] ppasq opened #100 "Improve footer responsive behaviour"
On small screens the right logo is placed outside the visible area.

[2018-10-31 21:22] vdeparday commented on #100
I think the footer is also disrupting the rest of the page. On my Samsung,
now I can pan to the right.

On Wed, Oct 31, 2018, 7:06 AM Paolo Pasquali <notifications@github.com
wrote:

[2018-11-02 17:07] vdeparday opened #101 "Overall Stats not displaying for Kinshasa"
![image](https://user-images.githubusercontent.com/1036189/47929688-34657c80-dea0-11e8-95ca-dcc03b34e369.png)

[2018-11-05 11:46] ppasq commented on #100
Yep. Now it should be fixed.

[2018-11-05 11:46] #100 closed

[2018-11-05 11:46] ppasq commented on #97
Done.

[2018-11-05 11:46] #97 closed

[2018-11-05 20:40] gracedoherty commented on #8
This is a good temporary addition. We will still want the feature photo from the blogs eventually.

Could you make **Powered by rss2html** less noticeable?

[2018-11-05 23:15] vdeparday commented on #55
The map is now displaying, however, I cannot tap on the cities? But that may be fine since there are links below ?

[2018-11-05 23:20] vdeparday commented on #8
Would it be possible to add on the city page but filtered only for the content related to the city?
Also could we change the Title to "Blog Posts on Open Cities Africa"
Although feel the layout is a bit heavy to read, I am not sure if we could do something with the colors, the layours, or else to help a little bit ?

[2018-11-05 23:20] vdeparday commented on #28
I think it is pretty good for now so closing.

[2018-11-05 23:20] #28 closed

[2018-11-05 23:21] vdeparday commented on #40
@cgiovando could you look into that as part of the work on analytics too? Once we have the AOIs and layers definition we should be able to do that no?

[2018-11-05 23:22] vdeparday commented on #25
Would be good to review this one tomorrow in the discussion on reporting and QA/QC

[2018-11-06 11:49] ppasq commented on #8
It is possible to filter feeds using tags. So every post must have a tag with (at least) a city name. For instance, the [post on Zanzibar ](https://opendri.org/building-web-maps-in-zanzibar/) is missing that tag so you just need to add it. However, the city pages are loading a lot of statistics from OSMA and adding a feed will slow down the page even more (especially connecting from areas where th

[2018-11-06 14:34] gracedoherty commented on #8
The slow loading for low bandwidth countries is a concern I've been having too. Is there a way to sequence the loading of these features? Such as:
1) Loading each feature of the page only as you scroll down to see it, or
2) Providing a "load" button for each stat feature. Ideally anyone with high bandwidth would see the feature load automatically the way we currently have it, and anyone in a slowe

[2018-11-06 14:35] gracedoherty commented on #8
Regardless of whether we add feeds to each city page, I'll go through the News on OpenDRI to double check for location tags.

[2018-11-07 12:06] cgiovando commented on #101
It must be some issue with how that widget is configured? Or on the API side?

Copying @tyrasd and @ppasq who should be able to debug

[2018-11-09 20:32] gracedoherty commented on #101
We received a comment from a reader about OSM analytics not populating on the Accra page too. Not sure if related. If it's not, I can make this a separate issue.

Please prioritize any UI issues related to Open Cities, as we will be advertising both OpenDRI and Open Cities sites heavily at and after our Nov 14 mapathon.

Comment:
Hi ODRI Team, I have discovered that the OSM statistics (e.g. on htt

[2018-11-12 17:07] gracedoherty commented on #101
I'll ask the user if the problem is persisting.

Any progress on the Kinshasa Overall Stats issue?

[2018-11-12 17:12] gracedoherty opened #103 "OSM stats not loading on IE 11"
Checked for multiple cities pages.

![image](https://user-images.githubusercontent.com/42003495/48363471-fe7c8100-e673-11e8-9ec2-49938fa96707.png)

[2018-11-12 23:18] vdeparday opened #104 "Add a "More stories..." button at the bottom of the News segment"
![image](https://user-images.githubusercontent.com/1036189/48380816-8e084b00-e6d9-11e8-98a7-cdb91507479d.png)

It should link to: https://opendri.org/tag/open-cities-africa/

[2018-11-12 23:20] vdeparday commented on #8
In the short term, we can just have quick refresh at the layout?

[2018-11-13 10:58] ppasq commented on #104
Done. Please close if it is ok.

[2018-11-13 13:52] vdeparday commented on #55
Sounds good

[2018-11-13 13:52] #55 closed

[2018-11-13 13:54] vdeparday commented on #104
Looks good, just a very small thing, on mobile I only see "Mo..." Any way to make it more explicit on mobile ?

[2018-11-13 14:32] ppasq commented on #103
I get a JS error: "Object doesn't support property or method 'find'". This method is not supported in IE and that might cause this problem. @tyrasd can you help on this? Even the embedded iframe does not work.

[2018-11-14 12:19] vdeparday commented on #104
Works. Thank you Paolo.

[2018-11-14 12:19] #104 closed

[2018-11-15 17:59] vdeparday opened #107 "Touch-up on the logos"
![image](https://user-images.githubusercontent.com/1036189/48571819-1ec46e00-e908-11e8-8ab3-3c7e70420f60.png)

The crews logo should go on the supported by. We should also add the cooperation belge on the supported by side.
For the initiative of should be first opendri, then gfdrr, then world bank.

[2018-11-16 13:34] vdeparday commented on #107
in two columns it doesn't look very good. can we put them one line implemented by, next line supported by, etc...

[2018-11-16 13:36] ppasq commented on #107
Ok @vdeparday, can you please also check if the link to the Belgian cooperation is correct?

[2018-11-16 13:49] vdeparday commented on #107
yes it is. Thank you @ppasq

[2018-11-16 13:55] ppasq commented on #107
Fixed.

[2018-11-16 14:09] vdeparday commented on #107
Sorry to be really nit picky but the spacing with the last section is bigger and users may not see the last section.

![image](https://user-images.githubusercontent.com/1036189/48626197-8f739500-e9b1-11e8-8dec-dd9cdde1a865.png)

[2018-11-16 14:32] ppasq commented on #107
You are right! I've missed to delete an inline rule. Thanks. Fixed.

[2018-11-16 16:31] vdeparday commented on #107
Looks good. Thank you @ppasq

[2018-11-16 16:31] #107 closed

[2018-11-19 17:36] gracedoherty opened #111 "Embed Open Cities video into About page"
Please embed and center this video above the **Overview** section on the About page.

https://www.youtube.com/watch?v=MPwVz1B5MUg&feature=youtu.be&deliveryName=DM6591

@vdeparday I didn't see a good place for the video on the homepage.

[2018-11-22 15:04] ppasq commented on #111
Done.

[2019-01-22 18:31] cgiovando opened #115 "Update city analytics pages with actual AOIs"
Update AOIs in GeoJSON format can be found here:

https://docs.google.com/document/d/1BVfSm_YwxiZD-G5kYSzjdNVnUgLo6DsF4AqjEutTEL0

@ppasq can you please update each analytics page with the project AOIs?

[2019-01-29 17:46] cgiovando opened #116 "UAV Imagery Maps"
@ppasq - could you please add widgets like the one in Kampala for UAV imagery collected in other cities?

![screen shot 2019-01-29 at 18 32 27](https://user-images.githubusercontent.com/10201533/51927687-6bdabb00-23f4-11e9-91fc-e6641681b12c.jpg)

There are several mosaics in Accra and Zanzibar, and some in Kinshasa and Monrovia. Can multiple images be combined on the same map for each city?

Any o

[2019-01-29 17:54] cgiovando commented on #20
OSMA API may not be able to handle these many AOIs. The aggregated GeoJSON can be found here https://gist.github.com/cgiovando/45718beb699ca27943f40730e7257ad7 but the corresponding OSMA call isn't working https://osm-analytics.org/#/show/gist:45718beb699ca27943f40730e7257ad7/buildings/recency

@ppasq can you investigate if this is something that can be fixed and supported on the OSMA side, or whe

[2019-01-29 17:57] vdeparday commented on #116
There should be some in Pointe-Noire, Ngaoundere, Antananarivo, but I am not sure if they uploaded it to OpenAerialMap. Do you have a good manual that @gracedoherty could send around to all the teams to make sure it is all uploaded ?

We should also have links for people to download or use TMS. Thanks you.

Note: for Uganda, it needs to be added on the Open Cities page too

[2019-01-29 17:58] vdeparday commented on #40
This and #116 should maybe part of a new section: Access to Data or something at the bottom or top of the page to keep it clean ?

[2019-01-29 21:04] gracedoherty commented on #40
@cgiovando when you say create exports for the other cities, what does that entail? Determining AOI, feature selection options from data model, ..... ?

[2019-01-29 21:29] gracedoherty opened #117 "Split OSM Overall Stats into sections"
It would be nice to have sub-sections for “Features” and “Contributors.” Also we shouldn’t use “user” if we already have “contributor” in the next widget.

![image](https://user-images.githubusercontent.com/42003495/51941554-e995cb00-23e2-11e9-9cc5-f56fecf9137a.png)

@cgiovando @vdeparday @ppasq

[2019-01-29 23:07] vdeparday commented on #101
Accra is working but Kinshasa is still not working. @cgiovando @ppasq  Is that because the request is too big for Kinshasa ?

[2019-01-31 00:19] vdeparday opened #118 "Gap Analysis does not cover all of Africa"
Can we make sure the Gap Analysis cover all of Africa properly:

![image](https://user-images.githubusercontent.com/1036189/52021649-fdfdc480-24c3-11e9-8e32-389a38170b5e.png)

[2019-01-31 15:37] cgiovando commented on #116
Instructions for uploading into OpenAerialMap:

1.  Go to https://map.openaerialmap.org
2. Click on `Login` button in top right area
3. Choose Google or Facebook authentication
4. After authentication, click on `Upload` button in top right area
5. Fill out metadata and upload information for each orthomosaic

@gracedoherty let me know if people have problems with the upload process.

I will open s

[2019-01-31 15:40] cgiovando opened #119 "Add UAV imagery for Kampala to city page"
Per #116, we need to have a copy of Kampala UAV imagery map displayed on https://opencitiesproject.org/uganda/ also on the city page at https://opencitiesproject.org/uganda/kampala/

[2019-01-31 15:43] cgiovando opened #120 "Add links for UAV imagery download and use"
When #116 is done, then we should also add direct links to GeoTIFF downloads and TMS/WMTS endpoints. These can be sourced directly from OAM.

[2019-01-31 15:47] #15 closed

[2019-01-31 15:52] cgiovando commented on #8
I noticed some slow loading of the whole homepage because of calls to bloople.net which I think it's the service for RSS2HTML. If you have the same issue we can re-open and think of a different solution.

[2019-01-31 15:52] #8 closed

[2019-01-31 15:55] #11 closed

[2019-01-31 15:57] cgiovando commented on #19
And now related to #117

[2019-01-31 16:05] cgiovando commented on #103
@tyrasd @ppasq we need to investigate this and figure out a solution. Seems to be a [common issue](https://www.google.com/search?q=Object+doesn%27t+support+property+or+method+%27find%27&oq=Object+doesn%27t+support+property+or+method+%27find%27), related to REACT requirements in IE11 and lower.

Maybe this fix? https://github.com/facebook/react/issues/8379#issuecomment-370686878

[2019-01-31 16:20] cgiovando commented on #40
@gracedoherty AOIs are already determined [here](https://docs.google.com/document/d/1BVfSm_YwxiZD-G5kYSzjdNVnUgLo6DsF4AqjEutTEL0), but they may need to be checked/revised, to make sure we have the latest version. Brazzaville is also still missing.

With the latest GeoJSON file of each city, you can create new exports at https://export.hotosm.org/en/v3/exports/new

In the `Data` tab, you can intera

[2019-02-01 01:06] vdeparday commented on #103
Can we make this one a very high priority ? We are circulating an update to all TTLs so it would be nice for it to work.

[2019-02-01 14:14] vdeparday opened #121 "Add OSM slippy of the AOI on each page"
Just realized that we don't have the map ! We could use HOT style, or a mapbox one. In terms of design, I think Paolo will have the best ideas.

[2019-02-01 17:24] cgiovando commented on #40
Accra	https://export.hotosm.org/en/v3/exports/c650a0eb-4870-49ac-9e14-492544e21c40
Antananarivo	https://export.hotosm.org/en/v3/exports/57f6e97b-ef18-43cf-9191-b715df440185
Kampala	https://export.hotosm.org/en/v3/exports/7f29cb00-9469-471e-a78b-aa42eb1c5214
Kinshasa 	https://export.hotosm.org/en/v3/exports/3bcd8b93-fee3-42d1-b81b-1b3b37200cc2
Zanzibar	https://export.hotosm.org/en/v3/exports/7d24c9

[2019-02-04 08:46] ppasq commented on #101
Fixed while updating AoI polygons #124

[2019-02-04 08:46] #101 closed

[2019-02-04 08:47] ppasq commented on #115
Done #124

[2019-02-04 16:33] ppasq commented on #40
Done. Please open a new issue when Brazzaville data is available.

[2019-02-04 16:33] #40 closed

[2019-02-04 16:56] ppasq commented on #19
Fixed with #126

[2019-02-04 16:56] #19 closed

[2019-02-05 11:54] cgiovando opened #127 "Update Brazzaville AOI"
New AOI --> https://gist.github.com/cgiovando/122c8007c993054470d0ce513077a027

To update widgets and stats on https://opencitiesproject.org/brazzaville/

[2019-02-05 11:55] cgiovando opened #128 "Add Brazzaville export link"
@gracedoherty please let @ppasq know when the Export Tool link for this AOI is ready

https://gist.github.com/cgiovando/122c8007c993054470d0ce513077a027

[2019-02-05 12:02] cgiovando opened #129 "Homepage loading is slowed down by RSS2HTML service"
As already mentioned in https://github.com/GFDRR/opencities/issues/8#issuecomment-459395573 the RSS2HTML service from https://rss.bloople.net causes the homepage to load very slow and making the side menu inaccessible until the RSS feed is loaded.

We should think of a different mechanism to pull articles from OpenDRI.org - or maybe just add a daily caching layer to reduce subsequent page loads.

[2019-02-05 12:52] cgiovando commented on #120
Accra --> https://map.openaerialmap.org/#/0/user/5ac6902d91b5310010e0d490?_k=jcz0ub (those with _Open Cities Africa_ in the title)

[2019-02-05 12:53] cgiovando commented on #116
Accra --> https://map.openaerialmap.org/#/0/user/5ac6902d91b5310010e0d490?_k=jcz0ub (those with _Open Cities Africa_ in the title)

[2019-02-05 15:57] ppasq commented on #127
Done. Please note that [OSM Analytics Api](https://github.com/GFDRR/osm-analytics-api) does not support multi polygons for stats. However I've created unlikely polygons (especially for Brazzaville) as a workaround. Could it be a nice to have feature?

[2019-02-05 15:57] #127 closed, assigned to ppasq

[2019-02-05 16:13] ppasq commented on #121
What about adding also aerial imagery maps (#116) in one viewer with multiple basemaps? Or do you prefer to have separate viewers?

[2019-02-05 17:06] gracedoherty commented on #116
**Saint-Louis** didn't take their own drone imagery. They did send me a link to the DG satellite imagery from 2018 that they've been using. Do we want to include it? I guess it depends how we phrase it on the site, as we don't want to imply that we financed the DG imagery capture.
https://map.openaerialmap.org/#/-16.458892822265625,16.022468319445952,13/square/033303000322?_k=khu4zy

[2019-02-05 17:08] gracedoherty commented on #128
Brazza has not started mapping and they are still finalizing their data model. Putting this on hold until we can populate the export tool with the data model.

[2019-02-05 17:20] gracedoherty commented on #116
**Pointe-Noire**:
https://map.openaerialmap.org/#/11.91141128540039,-4.816628095528716,12/square/300010220331213?_k=ez0iex
https://map.openaerialmap.org/#/11.898021697998047,-4.773520832778661,12/square/30001022033103?_k=h093k3

[2019-02-05 21:46] cgiovando commented on #127
Thanks, @ppasq - What do you mean by "unlikely polygons"?

Can you please post this feature request in the OSMA API repo?

[2019-02-05 22:01] cgiovando commented on #103
The issue may be with OSMA - checked here https://ie11.ieonchrome.com/#http://osm-analytics.org but that website doesn't provide much debugging information.

@tyrasd can you please investigate and report back?

[2019-02-06 09:55] ppasq commented on #127
The OSM Analytics API stats endpoint supports "polygon", "country" and "bbox". So I've transformed the gist links into polygons. But when separated areas are described (afaik) you need to connect the polygons. The result can be [something like this](https://osm-analytics.org/#/show/polygon:o~a%7CAtzcYbBcg%40v%40gPwBaOuNuTmbEs%7DC%60a%40yfAdLgE%60BiEhEkBlEsEG_D~%40yIvBsBfDr%40vD_%40lLgEtA%7CVvB%3F%

[2019-02-06 10:36] tyrasd commented on #103
I'll investigate this issue later today.

[2019-02-06 15:12] tyrasd commented on #103
ok, the maps (which are included directly from osm-analytics.org) now work again.

Independently from this, the general "osm overall" stats, the "daily activity" bar graph and the "top contributors" report also don't load. As far as I can see this is because some javascript used in the opencitites website is using new javascript syntax that isn't supported by IE11 (e.g. the `cont` in https://githu

[2019-02-07 10:26] ppasq commented on #103
Thanks @tyrasd.
@cgiovando should I open an issue on [OSMA charts](https://github.com/Vizzuality/osma-charts/issues)?

[2019-02-07 17:36] cgiovando commented on #103
This is the more recent and main repo https://github.com/GFDRR/osm-analytics-charts

@ppasq is that something you can fix?

[2019-02-07 17:44] cgiovando commented on #121
Combined would be fine, but we need to consider the added weight to each page, especially if we use overlays with vector tiles. What's your estimate @ppasq ?

[2019-02-08 13:00] tyrasd commented on #103
I'm not 100% sure, but I think it doesn't have much to do with the osm-analytics-charts code itself. It looks more like the code that would include the charts and data doesn't get called in IE11 in the first place. That code is in this repository here. Mostly, the files in https://github.com/GFDRR/opencities/blob/gh-pages/js/ (`app.js` in the city directories) are affected, because they use `const

[2019-02-10 20:04] gracedoherty opened #132 "Add main project video to homepage"
Could you add the Open Cities Africa video to the homepage, between the green "building skills" tagline and the map & cities list? So it will be in two places, on the About page and as the 3rd section down on the landing page.
https://www.youtube.com/watch?v=MPwVz1B5MUg

[2019-02-10 20:47] gracedoherty opened #133 "Add videos list on homepage"
We'd like to showcase our two regional meeting videos as well as the local videos created by the city teams. Somewhere around 6-10 videos in total. What format would be possible for this?

Design options:
- Vertical list to the right of the "Blog Posts on Open Cities Africa" section of the homepage. The first 3 or 4 videos from the list would appear embedded, then a "More Videos..." link underneat

[2019-02-10 21:11] gracedoherty commented on #133
Another example of what I mean by selection wheel/conveyor belt. I don't know what it's called.
http://demo.geonode.org/
![image](https://user-images.githubusercontent.com/42003495/52539624-7d09bd00-2d4e-11e9-887a-32a0292eda56.png)

[2019-02-12 13:09] ppasq commented on #103
The app.js file is generated by [OSM Analytics Charts](https://github.com/GFDRR/osm-analytics-charts). So I wonder if OSMA Charts works on IE11.
In any case, we have tried to add support to IE11 and we have updated the [Accra page](https://opencitiesproject.org/accra/) for you to test. As you can see only one chart (OSM Daily Activity) still does not work. Any hint on how to solve this?

[2019-02-14 11:48] cgiovando opened #135 "Stats not matching OSMA"
I just noticed that OSM stats reported on city pages in some cases don't match those in OSMA when using the same AOI. Here's an example for Accra:

![screen shot 2019-02-14 at 12 45 21](https://user-images.githubusercontent.com/10201533/52784744-687f3a80-3056-11e9-87f5-938a41b00f9b.jpg)

The total length of roads is 246km, while OSMA shows only 35km:

![screen shot 2019-02-14 at 12 46 56](https://

[2019-02-18 11:37] cgiovando commented on #133
It's called _carousel_ :)

There are different opinions about their usability/effectiveness in web design: https://usabilitygeek.com/sliders-web-design-use/

They even made a website to discourage carousels http://shouldiuseacarousel.com/

I would use a grid display with snapshots of first or featured frame (to save on page load) linking to videos on youtube, or just embed them in each city page.

[2019-02-18 12:39] cgiovando commented on #116
Ngaoundéré: https://map.openaerialmap.org/#/13.556785583496094,7.341015340601155,11/user/5c5a99cfaa451700058ff538?_k=hx0vqg

OpenCitiesNgaoundere_Djalingo_Sabongari3_Ortho and OpenCitiesNgaoundere_Mount_Ngaoundere_Ortho

[2019-02-18 17:45] gracedoherty commented on #133
Definitely don't want an unused feature! Having videos on each city page is good, but we also have three (and soon 4) regional/overview videos that aren't city-specific.

How about this, where the boxes are snapshots and the "more videos" is to the OCA playlist:
![image](https://user-images.githubusercontent.com/42003495/52968326-d7bc9d80-337a-11e9-89e6-7fe0388fa450.png)

[2019-02-19 00:14] gracedoherty commented on #116
Kampala
https://map.openaerialmap.org/#/32.63144373893738,0.2616217581798175,16/square/122323332213010003?_k=8g110q

[2019-02-19 16:51] ppasq commented on #133
@gracedoherty is this [the link to the playlist](https://www.youtube.com/channel/UC7yOYqdzBHbN98FDHK_BYjw)?

[2019-02-19 17:00] gracedoherty commented on #133
Actually it's here: https://www.youtube.com/playlist?list=PLZA_MbhmZZ7YKgepryAaXONj5SvuPAXhy

I need to close that account you linked.

[2019-02-20 18:24] #103 closed

[2019-02-21 18:57] vdeparday commented on #121
Thank you @ppasq for adding the interactive map. I am not sure if you are finished yet but I think it will need several improvement:
- First i think we should use another rendering. Maybe, Mapbox Outdoor so that we have point of interest, buildings, and the terrain curves and shading. Because right now, it looks like the map is empty.
- We should remove the Drone map by default because it zooms on

[2019-02-22 00:16] enockseth commented on #135
And to add to this, I am doubting the stats under the **Top Contributors (Buildings)** section too which could be as a result of the above. Thanks

[2019-02-22 14:50] ppasq commented on #133
I have added the video list with #137. The CSS still needs some fixing.

[2019-02-22 14:51] ppasq commented on #132
Added with #138

[2019-02-22 14:57] ppasq commented on #129
The script has been changed. Let's test this for now.

[2019-02-22 15:00] ppasq commented on #116
Done. Any other imagery available?

[2019-02-22 15:02] ppasq commented on #119
Done. I'm closing this. Let's follow the discussion on #121 now.

[2019-02-22 15:02] #119 closed

[2019-02-22 18:04] vdeparday opened #141 "Adding OSM Visualize on each page"
https://visualize-change.hotosm.org/learn

[2019-02-25 09:32] vdeparday commented on #133
Thank you @ppasq. Yes on mobile. Blog posts on Open Cities and Videos shows as two parrallel columns. It would be better to have them one below the other.

Also the main video looks a bit like hanging in the middle.

[2019-02-26 08:23] ppasq commented on #117
Done with #142.

[2019-02-26 09:34] ppasq commented on #135
The AoI is defined in one place. For instance, in the case of Accra is [here](https://github.com/GFDRR/opencities/blob/gh-pages/js/accra/app.js#L19). So I would expect all the stats to be wrong if the polygon used is not correct. That doesn't seem the case since in the cities I've checked the stats for buildings are correct while the others (clearly) are not.
I've reverted the changes I made to th

[2019-02-26 11:47] ppasq commented on #135
I've started [OSMA Charts](https://github.com/GFDRR/osm-analytics-charts) application and the stats I get from Accra are pretty similar:

![screenshot 2019-02-26 at 12 29 17](https://user-images.githubusercontent.com/3024454/53410266-956f0e00-39c3-11e9-8714-e66660f866f3.png)

@cgiovando could you please contact the OSMA charts developers for an opinion?

[2019-02-26 14:56] gracedoherty commented on #117
Thanks

[2019-02-26 14:56] #117 closed

[2019-02-26 16:09] #132 closed, assigned to ppasq

[2019-02-26 23:26] gracedoherty opened #143 "Update the before and after maps for these cities"
Some cities have updated their AOIs. The OSMA links are the following:

Saint-Louis: https://osm-analytics.org/#/show/gist:5cdf7d995ff73e4726e269b9779f2735/buildings/recency
Ngaoundere: https://osm-analytics.org/#/show/gist:f7170443229f498dc3a58c672e67b618/buildings/recency
Monrovia: https://osm-analytics.org/#/show/gist:5507489073b2b08578c785d7364034a3/buildings/recency

I will also link their up

[2019-02-27 21:29] gracedoherty commented on #116
Seychelles:
https://www.webgis.gov.sc/mapcache/tms/1.0.0/drone_imagery@Custom3857/{z}/{x}/{-y}.png

Cristiano says for Seychelles that the "TMS endpoint should be fine for the slippy map on city page."

I've sent a couple emails to the Antananarivo team but still have not heard back. Once Seychelles is up we can close this issue, and I can make a new one for Antananarivo.

[2019-02-27 21:36] gracedoherty commented on #143
The new export tool links for these new AOIs are:

Saint-Louis - https://export.hotosm.org/en/v3/exports/af531d58-ca01-4490-be17-9856baac10b2
Ngaoundere - https://export.hotosm.org/en/v3/exports/49252300-3424-4e29-80a9-22a9c7ab5825
Monrovia - https://export.hotosm.org/en/v3/exports/1b6d8d0e-c71e-41f6-a25d-3d7cb4117638

[2019-02-27 22:57] vdeparday opened #144 "Issue with display on IE11 for Blog post"
The font doesn't load.
And somehow the image is sideway ! Although it is fine on chrome

![image](https://user-images.githubusercontent.com/1036189/53528892-47552a00-3aeb-11e9-9fe0-e3f06beca17b.png)

[2019-02-28 16:35] gracedoherty commented on #144
Messed around with the photo's settings and it seems to be fixed now.

![image](https://user-images.githubusercontent.com/42003495/53582146-ebbb8880-3b4c-11e9-9ebb-c691153722a8.png)

[2019-02-28 16:35] #144 closed, assigned to gracedoherty

[2019-03-01 10:11] #143 closed, assigned to ppasq

[2019-03-01 10:47] ppasq commented on #133
Fixed responsiveness.

[2019-03-01 11:14] ppasq commented on #116
Seychelles imagery has been added.

[2019-03-01 14:35] ppasq commented on #121
Here is a recap of what has been done:

- The Mapbox Outdoor has been added as basemap
- Aerial imagery has been removed by default
- A button to view/hide aerial imagery (where available) has been added

@vdeparday, @cgiovando would the link to [a selected OAM grid](https://map.openaerialmap.org/#/-16.458892822265625,16.022468319445952,13/square/033303000322?_k=khu4zy) be enough or should I add a

[2019-03-02 10:53] vdeparday opened #150 "Small fixes on videos"
Could we rename "Open Cities Africa - Tool Design for Urban Resilience" => "Open Cities 2nd Regional Meeting - Tool Design for Urban Resilience - Dar Es Salaam, Tanzania" ?

Also, do we have subtitles for them ? Maybe we can put a note about automatic subtitles.

I want to try to circulate all of them a bit more.

[2019-03-04 17:00] gracedoherty commented on #121
It looks really nice.

For some of the cities (Accra, Pointe-Noire, maybe others) the aerial imagery only shows up when you increase the zoom level. Also Accra's imagery is showing up with a white background for some reason.

[2019-03-06 19:52] vdeparday commented on #121
Agree with @gracedoherty it is a bit deceiving at first because the imagery doesn't appear when clicking on the button. Either we can make sure the image is seen at that zoom level without have to zoom in or we automatically zoom on the right area and right zoom level.

Also have the white background.

[2019-03-06 19:54] vdeparday commented on #121
@ppasq I think linking to the selected OAM grid should work this way we don't have to keep updating the link. Does that make sense @cgiovando ?

[2019-03-06 22:26] vdeparday commented on #121
We should also add higher zoom level for the map and drone imagery if possible

[2019-03-08 14:25] vdeparday commented on #121
after checking more in details, I feel like we should switch to Mapbox Street and allow for a higher zoom level so that we can see better the richness of the data.

Could we move up the download data button to the side of the Show / Hide Aerial imagery ? And we can also put the download aerial imagery button there too.

[2019-03-11 11:19] ppasq commented on #120
@cgiovando, @vdeparday since we have more than one image per city in some cases, we should have a list of available images and all their related options (maybe put in a table).
Or do you prefer to have a simple list of available images with the items linking to their own image page in OAM so that the user can have all the options (downloads and uses) there?

[2019-03-11 11:19] ppasq commented on #121
@vdeparday I've switched to MapBox streets, adjusted the initial position and zoom, and moved the download data button as requested. More comments in #120

[2019-03-11 13:19] ppasq commented on #38
I'm closing this since the header was changed and a slippy map has been added.

[2019-03-11 13:19] #38 closed

[2019-03-11 13:23] ppasq commented on #121
@gracedoherty, @vdeparday I'm afraid I have no control on the image white background. I think it depends on how the image was uploaded on OAM.

[2019-03-11 13:42] vdeparday commented on #121
thank you @ppasq , @cgiovando any idea?

[2019-03-12 15:06] vdeparday opened #153 "Large white zone between header and beginning of the page"
![image](https://user-images.githubusercontent.com/1036189/54211021-f106c480-44b6-11e9-97de-c6bdb2012888.png)

[2019-03-12 15:16] vdeparday commented on #120
What about as you had suggested, we just put one link to OAM that shows all the images for that area?

Would that be doable? I just looked and it doesn't seem that easy to do. Because then you see the grid but not really the imagery and it can be a bit confusing to access the actual imagery (for instance on Accra where you have 2 images, and 4 images)

[2019-03-12 15:16] vdeparday commented on #121
Thank you @ppasq for all the fixes.
The UAV imagery still dissapear if I zoom out one notch. Can we make sure it stays at all zoom level ?

For some reasons the rendering doesn't show all the data (for instance Accra if you zoom in where the UAV imagery has been taken, it should be fully mapped). Is it because Mapbox tiles have not been updated? Or they are not rendered in this style? It still cal

[2019-03-12 17:18] ppasq commented on #121
I believe the images disappear because they are not available in OAM at some zoom levels. Maybe @cgiovando knows how to fix it in OAM?

I think that the MapBox Streets layer has not been updated. I've double checked with the corresponding vector map (streets-v9) and many buildings in that area are present instead. So I would try to switch from raster to vector tiles to get the most recent updates.

[2019-03-18 20:40] gracedoherty commented on #150
As an update, I've been working to get these hosted on the GFDRR YouTube account so that we can close the Open Cities account. Will rename and add subtitles once they're up.

[2019-03-21 17:25] gracedoherty commented on #150
Done:
- Uploaded both videos to GFDRR YouTube (and deleted on old account)
- Renamed both videos
- Added subtitles to second video
- Updated Open Cities homepage links
- Updated OpenDRI blog embedded links

[2019-03-21 17:25] #150 closed, assigned to gracedoherty

[2019-04-26 02:10] vdeparday opened #154 "Add GED4ALL reference in the download data button"
Maybe a short sentence underneath that links to: https://wiki.openstreetmap.org/wiki/GED4ALL or on the button itself

[2019-04-29 08:34] cgiovando opened #155 "Add Uganda Open Mapping atlas"
The Uganda Open Mapping [atlas](https://drive.google.com/file/d/1cuHgHGMs5umk9Q1jWVu3PUbAQsJ5VwlV/view) was published and should be linked on the project webpage at https://opencitiesproject.org/uganda/

We should also add a reference to the new blog post once posted on https://opendri.org/category/news/

Text in the project page may need to be changed from _EXPECTED OUTCOMES_ to _OUTCOMES_

[2019-04-29 13:40] cgiovando commented on #129
Works great!

[2019-04-29 13:40] #129 closed, assigned to ppasq

[2019-04-29 14:19] #116 closed

[2019-04-29 14:56] #133 closed, assigned to ppasq

[2019-04-29 15:03] cgiovando commented on #24
@gracedoherty @nualacowan let us know if there's an output from the form that we can review and if there's consistent data to use. We could then consider a dynamic visualization/report to add to the website.

Closing for now - let us know if needs to be re-opened.

[2019-04-29 15:03] #24 closed

[2019-05-01 07:12] cgiovando opened #156 "Move code and website for Open Cities Guide"
Once the Transifex process is ready, new code developed at https://github.com/ppasq/community-mapping and corresponding website https://ppasq.github.io/community-mapping/ should be moved to https://github.com/GFDRR/community-mapping

We also discussed renaming that repo to `open-cities-guide` for consistency.

The actual website could be deployed (or redirected from) https://opencitiesproject.org/

[2019-05-05 19:09] MiraLGupta opened #157 "Links to web maps from Open Cities Africa/Mapbox training"
Here are a list of links to the web maps created at the Open Cities Africa/Mapbox training in September 2018 in Zanzibar:

https://gfdrr.github.io/slidetastik/index.html

https://imu1422.github.io/zmi-simple/

https://hills95.github.io/Zanzibar-culture/

https://raillersing.github.io/mapboxtraining/

https://zanzibar-zmi.github.io/FLOOD/index.html

https://opencitieszanzibar.github.io/#

@cgiovand

[2019-05-06 08:23] cgiovando commented on #157
I think a blog post would be nice - with reference to and following up with more technical details on the previous one --> https://opendri.org/building-web-maps-in-zanzibar/

The individual city pages on OCA website are quite heavy, so if we want to do some kind of embedding, we should think of separate pages (e.g. _App Showcase_ or _Using the Data_)

[2019-05-07 22:02] cgiovando commented on #157
We decided to include screenshots and some brief description text of each app on the respective city page, then link that screenshot to its external hosted site.

@MiraLGupta @gracedoherty can you work with the authors to provide brief text for each app?

[2019-05-20 13:47] #153 closed, assigned to ppasq

[2019-05-20 13:47] #41 closed

[2019-05-21 15:39] ppasq commented on #121
@vdeparday I've switched all city maps (except Seychelles) to vector tiles. Please double check and in case close this issue. In the meantime I'm opening an issue #162 for the Seychelles map.

[2019-05-21 15:59] ppasq opened #162 "Cannot use vector tiles in the Seychelles map due to CORS error"
The issue is due to the aerial imagery served as TMS by webgis.gov.sc. In Mapbox GL a CORS error arises. More on this [in the documentation](https://docs.mapbox.com/help/troubleshooting/cors-errors/). Keeping the raster tiles for now.

[2019-05-22 20:51] vdeparday opened #164 "Kinshasa AOI needs to be update and drone imagery need to be added"

[2019-05-23 21:30] gracedoherty commented on #157
I just realized, the workshop teams are not city-specific. One webmapping team chose to use Saint-Louis data, but their team members were from Saint-Louis, Zanzibar, Monrovia, Tana... Other webmapping teams used Zanzibar data and were made up of a mix of delegates from our cities & ZMI.

Since it wouldn't make sense to have them on the city pages, where on opencitiesproject.org can we post these s

[2019-05-23 21:35] gracedoherty commented on #157
(per Cristiano's suggestion above)
3. New page called App Showcase -or- Using the Data. In addition to these web map prototypes, it would include info on and link to the data product each team produced for their city.

[2019-05-23 21:42] gracedoherty opened #165 "Unable to assign team members to issues"
I am not always able to tag @nualacowan and Mira in comments (e.g. @MiraLGupta is not an option for me in this issue comment, but she is in #157 ). Likewise, I am unable to assign issues to either of them.

Could someone with higher privileges on this repo please determine what is causing this? Do they have limited privileges?

[2019-05-23 21:42] gracedoherty commented on #165
Update: I see that Mira was tagged even though she wasn't in the drop down list. However I'm still unable to assign issues to either of them.

[2019-05-26 16:50] cgiovando commented on #165
I added both - let me know if now you cannot assign tasks to them

[2019-05-26 18:06] cgiovando commented on #155
I uploaded [web-optimized PDF](https://github.com/GFDRR/opencities/raw/gh-pages/uganda/Ggaba%20Atlas%20-%20Final%2020190408%20-%20Web%20Resolution.pdf) in Github, to link from the blog post [here](https://opendri.org/uganda-open-mapping-for-resilience-completes-ggaba-parish-pilot/). We should still update the Uganda page on the Open Cities website to reflect the latest project updates.

[2019-05-27 09:51] ppasq commented on #155
@cgiovando I've added a link to download the Atlas and reference to the Ggaba blog post [in the Uganda page](https://opencitiesproject.org/uganda/).

[2019-05-29 14:51] gracedoherty commented on #165
I'm now able to assign to Nuala. Still unable to assign to Mira (and her name still does not appear in the drop-down list).

[2019-05-31 13:01] cgiovando commented on #165
@MiraLGupta needs to accept the [invitation](https://github.com/GFDRR/opencities/invitations) to join this repo before you can assign her

![Screen Shot 2019-05-31 at 14 58 48](https://user-images.githubusercontent.com/10201533/58707282-b8d79980-83b4-11e9-8383-4d7150ffde22.jpg)

[2019-07-09 16:01] #165 closed, assigned to ppasq, cgiovando

[2019-07-09 16:06] gracedoherty commented on #155
Closing this issue. Still unresolved is adding a reference to the blog post, which we are addressing for all cities in another issue (will link when created).

[2019-07-09 16:06] #155 closed, assigned to ppasq

[2019-07-09 16:16] #121 closed

[2019-07-09 16:20] gracedoherty commented on #25
We currently have sections for: OSM stats, a completeness map, and a data quality map. Closing this issue for now. Can be reopened if more ideas form from QA/QC and M&E conversations this summer.

[2019-07-09 16:20] #25 closed

[2019-07-12 11:59] enockseth opened #168 "Embed or create section for the final data product"
Data products created by each city team. eg: maps, web apps, etc

[2019-07-12 12:01] enockseth opened #169 "Update / Add download links on each city page if necessary"
* [ ] Abidjan
* [ ] Accra
* [ ] Kampala
* [ ] Kinshasa
* [ ] Monrovia
* [ ] Ngaoundere
* [ ] Pointe-Noire
* [ ] Saint-Louis
* [ ] Seychelles
* [ ] Yaoundé
* [ ] Zanzibar

[2019-07-12 12:04] enockseth opened #170 "Better quality images for homepage’s “A Collaborative Approach”"
The left one exists in better quality. The right one should be replaced.
![](https://opencitiesproject.org/images/collaborative2.jpg)

[2019-07-12 12:06] enockseth opened #171 "Add a section on city pages to display specific implementing partners"

[2019-07-12 12:07] enockseth opened #172 "Add new city pages"
- [x] Niamey
- [x] Abidjan
- [x] Dar es Salaam
- [x] Bamako
- [ ] Yaounde

[2019-10-23 00:30] gracedoherty opened #173 "Blog posts not appearing on home page"
The blogs from https://opendri.org/tag/open-cities-africa/ are not appearing in the Blog Posts & Videos section of the home page. There should be ~5 posts listed (or however many it takes to reach the bottom of the videos list) followed by the "More Stories" button.

![image](https://user-images.githubusercontent.com/42003495/67345830-fa9ee300-f501-11e9-8974-d62c868cabe0.png)

[2019-10-23 08:22] ppasq commented on #173
@gracedoherty I'm not getting this issue. Could you pls check again?
![Screenshot 2019-10-23 at 10 18 45](https://user-images.githubusercontent.com/3024454/67372744-ab4ac800-f57e-11e9-89c8-3860e7a66e2b.png)

[2019-10-23 14:26] gracedoherty commented on #173
@vdeparday It's showing up now on Chrome and IE for me. If it's fine for you too, please close the issue. If not, could you give details on your browser, etc.

[2020-04-01 14:53] gracedoherty commented on #172
Niamey information:
https://blogs.worldbank.org/nasikiliza/understanding-niameys-flood-risk-through-open-source-mapping-drones-and-modeling

[2020-04-01 15:03] gracedoherty commented on #173
@vdeparday I will close this issue. Please reopen if you are still having this problem.

[2020-04-01 15:03] #173 closed, assigned to ppasq

[2020-05-21 17:55] gracedoherty opened #183 "Add final reports to city pages"
Per earlier discussion, we are adding all cities' final reports to their city page and https://opencitiesproject.org/resources/. This GitHub issue is for city pages. When the Open Cities Africa full program report is complete, we will open a new issue for the Resources page.

Ready for upload (Enock):
https://drive.google.com/drive/folders/1N_m1d19Zvjd_2Gp2Zt-tQIZise_Ty1eY?usp=sharing
- [ ] Accra

[2020-06-22 19:03] gracedoherty opened #186 "OSM stats not appearing."
The numbers are not populating in the OSM stats widget on any of the city pages.
![image](https://user-images.githubusercontent.com/42003495/85325286-fc55e780-b490-11ea-9de6-649f7a7726e8.png)

[2020-06-22 19:36] enockseth commented on #186
Thanks Grace, this doesn't look good. I am taking a look at it.

[2020-07-28 07:44] enockseth commented on #186
Fixed via [osm-analytics #103](https://github.com/hotosm/osm-analytics/issues/103)

[2020-07-28 07:44] #186 closed, assigned to enockseth, cgiovando

[2020-08-06 11:50] enockseth commented on #128
@gracedoherty do we have export link ready now?

[2020-08-06 11:52] enockseth commented on #170
@gracedoherty kindly share link for the left image in good quality and alternate image to be used to replace the right one.

[2020-08-06 12:45] enockseth commented on #164
@vdeparday can you confirm if AOI and imagery are in place as expected - https://opencitiesproject.org/kinshasa/

[2020-08-06 13:10] enockseth opened #190 "Add drone imagery for each city where available"
* [ ] Abidjan
* [x] Accra
* [x] Kampala
* [ ] Kinshasa
* [ ] Monrovia
* [x] Ngaoundere
* [ ] Pointe-Noire
* [ ] Saint-Louis
* [ ] Seychelles
* [ ] Yaoundé
* [ ] Zanzibar

[2020-08-17 16:49] gracedoherty commented on #170
Left (higher quality, same image):
https://drive.google.com/file/d/1Q7wrH5rHZyA7yl89uxfmiNenQ9eblAc7/view?usp=sharing

Right (replacement, with new acknowledgement):
https://drive.google.com/file/d/16Bs-j9brMiCac1Zyz8z2Txw7EIECEyxS/view?usp=sharing
© ACAGER

[2020-09-24 19:26] enockseth commented on #170
#191

[2020-09-24 19:26] #170 closed, assigned to enockseth